.col-flex-container {
  display: flex;
	flex-direction: column;
  align-items: center;
}

.row-flex-container {
  display: flex;
	/* flex-direction: row-reverse; */
  align-items: stretch;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


