.speech-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.visual-graph {
  width: 70vw;
  height: 50vh;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mic-container {
  margin-top: 20px;
}

.transcription {
  font-size: 1.5em;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}